.popup__input {
  margin: 0 auto 30px;
  padding: 0;
  display: block;
  width: 358px;
  height: 27px;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  overflow: visible;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000;
  padding-bottom: 10px;
}

.popup__input:nth-child(2) {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .popup__input {
    width: 238px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
}
