.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding: 0 calc((27/320)*100%) 41px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    min-height: 24px;
    padding-bottom: 32px;
  }
}
