.profile__info {
  max-width: calc(880px - 120px - 30px - 150px - 30px);
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  column-gap: 18px;
  row-gap: 7px;

}

@media screen and (max-width: 975px) {
  .profile__info {
    max-width: 100%;
    grid-template-columns: 100% min-content;
    column-gap: 0;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 33px;
  }
}
