.footer {
  margin: 0 auto 0;
  padding-top: 66px;
  padding-bottom: 56px;
  max-width: 880px;
}

@media screen and (max-width: 975px) {
  .footer {
    padding: 66px calc((19/320)*100%) 56px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
